/*Main*/
* {
  margin: 0;
}
body {
  min-width: 600px;
}
p {
  margin: 0;
  padding: 0;
}
ul,
li {
  margin: 0;
  margin-bottom: 0;
}
.nav {
  text-align: center;
  align-items: center;
}
.nav__items {
  color: black;
  display: inline-block;
  padding: 0 1rem;
  font-size: 1.1rem;
}
.nav__items--modified {
  color: #ae1d1d;
}
.nav__items:hover {
  transform: scale(110%);
  cursor: pointer;
  color: #9d1c1c;
}
@media only screen and (max-width: 700px) {
  .nav__items--modified {
    display: none;
  }
  .nav__items {
    display: none;
  }
}
.logo {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
}
.logo__text {
  color: #ae1d1d;
  margin: 0;
  text-align: center;
  align-items: center;
  padding-left: 2rem;
}
.logo__img {
  margin-left: 2rem;
  height: 80px;
}
.strap {
  margin: 0 auto;
  width: 80%;
  height: 30px;
  background-color: #ae1d1d;
  border-radius: 8px;
}
.select {
  width: 70%;
  margin: 2rem auto;
}
.select__box {
  margin: 0 1rem;
}
.select__input {
  margin: 0 1rem;
}
.select__btn {
  margin: 0 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #ae1d1d;
}
.select__btn:hover {
  background-color: #9d1c1c;
}
.content {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 75%;
}
.content__box {
  border-radius: 10px;
  margin: 2rem;
  height: 40rem;
  width: 25rem;
  padding: 1rem;
  background-color: #ae1d1d;
}
.content__box:hover {
  background-color: #9d1c1c;
  transform: scale(101%);
  cursor: pointer;
}
.content__box--text {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 0 2rem;
  text-align: justify;
}
.content__box--img {
  padding-top: 1rem;
}
.content__box--carname {
  margin-top: 1rem;
}
.icons__icon {
  height: 35px;
}
.icons__icon--icons {
  margin: 0;
}
.icons__text {
  font-size: 1.3rem;
  padding-left: 0.8rem;
  font-weight: 500;
}
.button {
  margin: 3rem 0;
}
.button__showmore--color {
  background-color: #ae1d1d;
}
.button__showmore--size {
  min-width: 10vw;
  height: 4vh;
}
.button__showmore {
  border-radius: 0.5rem;
  border: none;
}
.button__showmore:hover {
  transform: scale(105%);
}
.button__showmore--color:hover {
  background-color: #9d1c1c;
}
.button__showmore--font {
  font-weight: 500;
}
footer {
  background-color: black;
  padding: 0;
  margin: 0;
  height: 8vh;
}
footer p {
  margin: 0;
}
